{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static "chat/css/main.css" %}">
        <link rel="shortcut icon" type="image/png" href="{% static "chat/image/favicon.png" %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    {% endblock %}
</head>

<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<div class="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>