{% extends "chat/base.html" %}

{% load static %}


{% block title %}
    Chat
{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static "chat/css/tribute.css" %}">
    <script src="{% static "chat/js/tribute.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="info-content">

        <div class="user-data">
            <img src="https://picsum.photos/seed/picsum/40/40" class="avatar">
            <div id="greeting" class="user-name">{{ nickname }}</div>
        </div>

        <form id="logout-form" action="/logout">
            <input id="logout" type="submit" value="Logout"/>
        </form>

        <div class="users">
        </div>

    </div>

    <div class="body-content">
        <div class="chat-head">
        </div>

        <div class="chat-window">
        </div>
        <div class="suggestion"></div>

        <div class="input-group">
            <input id="chat-message-input" type="text" size="50" placeholder="Type your message...">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>

    <script type="text/javascript" src="{% static "chat/js/main.js" %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{% endblock %}
